.popup__close-button {
    border: none;
    background-color: inherit;
    background-image: url(../../../../assets/img/close-popup_button.png);
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
}

