/* You can add global styles to this file, and also import other style files */
[class*="__container"] {
    max-width: 1386px;
    padding: 20px;
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}
// Fonts //
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

// Forms //

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form__header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.form__title {
    font-family: Inter;
    font-weight: 500;
}

.form__avatar {
    display: flex;
    flex-direction: column;
}

.form__names, .form__email-and-phone {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: baseline;
    gap: 10px;
}

.form__right-label {
    align-self: flex-start;
}

.form-address-info {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;


    .form-address-info__title {
        display: inline-block;
        width: 100%;
    }

    .form-address-info__street-address {
        flex: 1 0 auto;
        width: 100%;
    }

    .form-address-info__city {
        max-width: 38%;
    }

    .form-address-info__state {
        max-width: 36%;
    }

    .form-address-info__zip-code {
        max-width: 20%;
    }
}

.form__buttons-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    span {
        font-family: Inter;
      }
      
}

.confirm-btn {
    background: #514EF3;
    border-radius: 30px;
    color: #fff;
    font-family: Inter;
    font-weight: 700;
    text-align: center;
    padding: 10px 20px;
    outline: none;
    border: none;
    transition: transform 0.3s ease-in-out;

    &:active {
        transform: scale(0.5);
        }
}