<header class="header">

    <div class="header__container">

        <div class="header__left header-left">
            <div class="header-left__logo">
                <img src="../../assets/img/Logo.png">
            </div>
        </div>

        <div class="header__center">
            <h1 class="header__title">{{headerTitle}}</h1>
        </div>

        <div class="header__right">
    <button class="header__button header__add-new" (click)="openForm()"><span>Add new</span><span>+</span></button>
    <button class="header__search" [ngClass]="{'header__search--active': isSearchOpened}" (click)="openSearch()">
      
    </button>
    <input
    class="header__search-input"
    *ngIf="isSearchOpened"
    type="text"
    placeholder="Search"
    [@searchAnimation]="isSearchOpened"
    [ngClass]="{'header__search-input--active': isSearchOpened}"
    [(ngModel)]="searchValue"
    (input)="searchCustomers(searchValue)"
/>
   

    <button class="header__button header__sign-out" (click)="signOut()"><span>Sign out</span></button>
        </div>
        
    </div>
    
</header>
