input {
    padding: 10px 20px;
    background: #F6FAFD;
    border: 1px solid #EAEEF4;
    border-radius: 8px; 
}
label {
    font-family: Inter;
    font-weight: 600;
}

.form {
    margin: 0 auto;
    max-width: 500px;
}