<div class="customer-card__container">

    <form class="form" *ngIf="customer$ | async as customer" (ngSubmit)="submitNewValue()" [formGroup]="editCustomerCard">
        <div class="form__header-wrapper">
          <h3 class="form__title">Customer {{customer.firstName}}</h3>
        </div>
        <div class="form__avatar">
          <label for="">Avatar</label>
          <input type="file" name="" id=""  [readonly]="!isEditable">
        </div>
        <div class="form__names">
          <label for="firstName">First name</label>
          <label for="lastName" class="form__right-label" >Last name</label>
        </div>
        <div class="form__names">
          
          <input type="text" formControlName="firstName" name="firstName" id="firstName" [readonly]="!isEditable">
          <input type="text" formControlName="lastName" name="lastName" id="lastName"  [readonly]="!isEditable">
        </div>
        <div class="form__email-and-phone">
          <label for="">Email</label>
          <label for="" class="form__right-label">Phone</label>
        </div>
        <div class="form__email-and-phone">
            <input type="tel" formControlName="phone" name="" id=""  [readonly]="!isEditable">
            <input type="email" formControlName="email" name="" id="" [readonly]="!isEditable">
          </div>
        <div class="form-address-info" formGroupName="address">
          <label class="form-address-info__title" for="">Address</label>
          <input class="form-address-info__street-address" type="text" formControlName="streetAddress" name="" id="" [readonly]="!isEditable">
          <input class="form-address-info__city" type="text" formControlName="city" name="" id=""  [readonly]="!isEditable">
          <input class="form-address-info__state" type="text" formControlName="state" name="" id=""  [readonly]="!isEditable">
          <input class="form-address-info__zip-code" type="text" formControlName="zipCode" name="" id=""  [readonly]="!isEditable">
        </div>
        <div class="form__buttons-wrapper" *ngIf="!isEditable">
          <button (click)="editCustomer()" type="button" class="confirm-btn">Edit</button>
          <button (click)="goBack()" type="button" class="confirm-btn">Go back</button>
        </div>
        <div class="form__buttons-wrapper" *ngIf="isEditable">
          <span (click)="isEditable = false">Cancel</span>
          <button type="submit" class="confirm-btn">Save customer</button>
        </div>
      </form>
      
</div>
